@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.lostpet-landing-section {
    background-color: var(--primaryPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.lostpet-content-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
}

.lostpet-image-section {
    flex: 1;
   padding-left: 25px;
   
   
}

.lostpet-text-section {
    color: white;
    flex: 1;
    padding: 0 20px;
}

.lostpet-heading {
    font-size: 60px;
    font-weight: bold;
}

.lostpet-paraText {
    font-size: 20px;
    line-height: 1.5;
}




.lostForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lostForm h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .lostForm label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .lostForm input[type="text"],
  .lostForm input[type="file"],
  .lostForm input[type="number"],
  .lostForm select,
  .lostForm textarea,
  .lostForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /*.lostForm input[type="file"] {
    display: none;
  }*/
  
  .lostForm input[type="file"] + label {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .lostForm input[type="file"] + label:hover {
    background-color: #f0f0f0;
  }
  
  .lostForm img {
    display: block;
    margin-bottom: 15px;
  }
  
  .lostForm button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .lostForm button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

  /*Lost pet details cards*/
/*container wraps the whole cards*/
 .container{
   /* display: flex;
    justify-content: center;
    flex-wrap: wrap;*/

    display: grid;
    grid-template-columns: repeat(3, minmax(270px,1fr)); /* Automatically fit three items in a row */
    gap: 60px; /* Add some spacing between items */
    justify-content:center; 
    margin-left: 25%;
    margin-right: 25%;
    
    
 }
 /*represents a single card*/
 .frame{
  background-color: #f2e8dd;
  
 /* margin-left: 15%;
 margin-right: 15%; */
 margin-bottom: 15%;
 padding: 30px 0;
 }
 .lostpetdetails{
    background: #ffffff;
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position:relative;
    transition: transform 1s ease;
 }

 .lostpetdetails img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    object-fit: cover;
 }
 #noticePetName{
  color: #086408;
  font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
 }
 .location-container {
  display: flex;
  align-items: center; /* Align items vertically */
}
 .location{
  margin: 2px 18px;
  color: #d3c014;
 }
 .locationtext{
  margin-top: 0;
  margin-left: 1px;
}
.lostpettext{
    padding:2px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .lostpetdetails h4{
    font-size: 20px;
    padding: 5px 0px;
 }
 .date-container {
  display: flex;
  align-items: center; /* Align items vertically */
  position: absolute;
  top: 49.2%;
  right: 0
}

.date {
  margin-right: 5px; /* Adjust margin as needed */
  color: #059105;
}

.createdAt {
  margin: 0; /* Remove default margin */
  padding-right: 12px;
}


 /* .lostpetdetails .createdAt{
    position: absolute; 
    top: 50%; 
    right: 10px; 
    color: black; 
    font-size: 15px; 
 } */
 .lostpetdetails button{
    background-color: white;
    color: black;
    padding:12px 18px;
    display: block;
    text-align: center;
    margin:10px auto;
    border-radius: 8px;
    border: none;
    position:absolute;
    bottom:0%;
    /* right: 50%; */
    left:50%;
    transform: translateX(-50%);/*moves the button to 50% of its own scale*/
    transition: 0.5s ease;
 }
 /* .lostpetdetails:hover{
   
    color:black;
    cursor: pointer;
    transform: scale(1.03);
    transition:  1s ease;
     border-style: solid;
     border-width: 3px;
    border-color: #cfb897;
 } */

 .lostpetdetails:hover{
  transform: scale(1.03);
 }

 .noticebtn-para p {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  text-align: center;
  border-bottom: none;
}

 .noticebtn button {
  background-color: rgba(128, 81, 143, 0.541); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  position: relative;
  left: 46%;
  margin-bottom: 25px;
}

.noticebtn button:hover {
  transition: 1s ease;
  color: black;
}

.noticebtn button:focus {
  outline: none;
}

/*All lost pet details*/
.container2 {
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  height: 600px;
  width: 1150px;
 
  /* align-items: center;  */
  /* margin-left: 12%;
  margin-top: 30px;
  margin-bottom: 30px; */
  margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   margin-bottom: 25px;
}

.allpetdetails {
  padding: 20px;
  margin-left: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.allpetdetailstext-container{
  margin-left: 25px;
 flex: 1;
}

.allpetdetails h4 {
  font-size: 35px;
  color: #b799d1;
  margin-top: 0;
}


.allpetdetails img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
 align-self:center;
}

.allpetdetailstext {
  margin: 10px 0px;
  display: flex;
  padding: 10px;
}

.allpetdetails p {
  margin: 5px ;
  
}


.allpetdetailsbtn {
  background-color: white;
  border: 2px solid #b799d1;
  color: #b799d1;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
  margin-left:10px;
 
}

.allpetdetailsbtn:hover {
  background-color: #b799d1;
  color: white;
}

/*Styles for the messageSystem*/

.messagecontainer {
  min-height: 80vh;
  min-width: 450px; 
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.messageheader {
    position: fixed; /* Make the header fixed */
    z-index:1;
    background-color: #4a5568; /* Slate-500 color */
    padding: 8px 16px; /* Top and bottom padding of 8 pixels, left and right padding of 16 pixels */
    margin-bottom: 8px; /* Bottom margin of 8 pixels */
     
    
    /* top: 10%;  */
    width: 100%; /* Make it full width */
    
}

.label-text {
    color: #cbd5e0; /* Gray-400 color */
}

.recipient {
    color: #cbd5e0; /* Gray-900 color */
    font-weight: bold; /* Bold font weight */
}

.messages{
  padding-left: 1rem; /* Equivalent to px-4 */
    padding-right: 1rem; /* Equivalent to px-4 */
     padding-top: 40px;
    flex: 1; /* Equivalent to flex-1 */
    overflow: auto; /* Equivalent to overflow-auto */
}

/*styling chat bubbles*/
.chat {
  display: flex;
  justify-content: flex-end; /* Align chat to the end of the container */
  align-items: center;
  margin-bottom: 1rem; /* Add margin bottom between chat messages */
}

.chat-image-avatar {
  margin-right: 0.5rem; 
  margin-left: 1260px; 
}

.chat-image-avatar.other {
  margin-right: auto; /* Push the avatar to the left if it belongs to the other person */
  margin-left: 0.5rem; /* Reset margin-left */
}

.chat-image-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Make the image round */
}

.chat-bubble {
  padding: 0.5rem 1rem; /* Add padding for bubble */
  border-radius: 0.5rem; /* Add border-radius to make it round */
  color: white;
  background-color: #3b82f6; /* Blue background color */
  align-self: flex-end; /* Align the bubble to the right */
  margin-left: auto; /* Push the bubble to the right */
  margin-bottom: 2.5rem;

  display: flex; /* Change display to flex */
  flex-direction: column; /* Align content in a column */
}
.chat-bubble.other {
  align-self: flex-start; /* Align the bubble to the left */
  margin-right: 1260px; 
  background-color: #5b5c5e;
   padding: 0.5rem 1rem;
  
}




.chat-footer {
  opacity: 0.5; /* Set opacity to 50% */
  font-size: 0.75rem; /* Set font size */
  display: flex;
  gap: 0.25rem; /* Add gap between items */
  align-items: center;
   margin-top: 0.25rem;
  align-self: flex-end;
}

.chat-footer.other {
 align-self: flex-end;
}

/*styling the input message bar*/

.custom-form {
    padding: 0 1rem;
    margin-top: 1.5rem;
    position: fixed; /* Position the form fixed  make this sticky if u want it above the footer*/
    bottom: 0; /* Place it at the bottom of the viewport */
    width: 100%;
   box-sizing: border-box;
   z-index: 1;
}

.input-messagewrapper {
    position: relative;
    
}

.input-messagewrapper input {
    border: 1px solid #6b7280;
    border-radius: 0.375rem; /* 6px */
    background-color: #4b5563;
    color: #fff;
    padding: 0.625rem; /* 10px */
    width: 100%;
    box-sizing: border-box;
    outline: none;
   
}

.input-messagewrapper button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.625rem; /* 10px */
    color: #fff;
    
}

