
nav{
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    /* background-color: #E2929D; */
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
    align-items: center;
    text-transform:uppercase;
}

nav .navLogo svg{
    font-size: 3.8rem;
}

nav .navLogo svg:hover{
    cursor: pointer;
}

nav .navMidContainer{
    display: flex;
    align-items: center;
    gap: 75px;
}

nav .navMidContainer a.NavLink:hover,
nav .navMidContainer a.aboutUsLink:hover{
    opacity: 0.5;
}

nav .navMidContainer a.NavLink.active,
nav .navLogin a.NavLink.active{
    opacity: 0.7;
}

nav .navMidContainer a{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    color: #fff;
}

nav .navMidContainer a:nth-child(2){
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px 15px;
}

nav .navLogin a{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    color: #fff;   
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px 15px; 
}

nav div .buttonHoverAnimation:hover{
    color: var(--primaryPink);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transition: 0.3s;
}

/*notifications*/

/* .notificationdot{
    position: absolute;
    top: -5;
    right: -5;
    color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
} */

/* notification list*/

.notificationList {
  position: absolute;
  top: 100%; /* Position the notification list below the bell icon */
  right: 20px; /* Align the notification list to the right side */
  width: 200px; /* Set the width of the notification list */
  max-height: 300px; /* Set the maximum height of the notification list */
  overflow-y: auto; /* Add a vertical scrollbar when content exceeds the height */
  background-color: #fff; /* Background color of the notification list */
  border: 1px solid #ccc; /* Border around the notification list */
  border-radius: 5px; /* Border radius to round the corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect for the notification list */
  z-index: 999; /* Ensure the notification list appears above other content */
}

.notificationItem {
  padding: 10px; /* Add padding around each notification item */
  border-bottom: 1px solid #eee; /* Add a bottom border to separate notifications */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.notificationItem:last-child {
  border-bottom: none; /* Remove bottom border for the last notification item */
}

.notificationItem:hover {
  background-color: #f9f9f9; /* Change background color on hover */
}

