
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    /* background-color: #E2929D; */
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
    align-items: center;
    text-transform:uppercase;
}

nav .navLogo svg{
    font-size: 3.8rem;
}

nav .navMidContainer{
    display: flex;
    align-items: center;
    gap: 100px;
}

nav .navMidContainer a.NavLink:hover,
nav .navMidContainer a.aboutUsLink:hover{
    opacity: 0.8;
}

nav .navMidContainer a{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    color: #fff;
}

nav .navMidContainer a.active.NavLink{
    /* border: #B597CF 4px solid; */
    /* text-decoration: underline; */
    background-color: #fff;
    color: #E2929D;
    border-radius: 15px;
    padding: 10px 15px;
    /* color: #B597CF; */
}

/* nav .navLogin a.active.NavLink{
    background-color: var(--primaryPink)
}
  
nav .navMidContainer a.activeHaslink{
    background-color: var(--primaryPink);
    color: #123456;
} */

nav .navMidContainer a:nth-child(2){
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px 15px;
}

nav .navLogin a{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    color: #fff;   
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px 15px; 
}

nav div .buttonHoverAnimation:hover{
    color: var(--primaryPink);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transition: 0.3s;
}