.profilePage {
    background-color: #fff0ff;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profilePage .userDetails {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.profilePage .userDetails .username {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profilePage .userDetails .username span {
    font-size: 3.5rem;
    font-weight: 700;
}

.profilePage .userDetails .email {
    margin-bottom: 25px;
}

.profilePage .userDetails .email span {
    font-size: 1rem;
    font-weight: 600;
}

.profilePage .userDetails .actionButtons {
    display: flex;
    gap: 15px;
}

.profilePage .userDetails .actionButtons button {
    border-radius: 11px;
    border: none;
    color: #fff;
    background-color: var(--primaryPurple);
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.profilePage .userDetails .actionButtons button.delete {
    background-color: rgb(234, 53, 53);
}

.profilePage .logOutButton {
    margin-top: 20px;
    margin-right: 50px;
    justify-self: self-end;
}

.profilePage .logOutButton button {
    border-radius: 11px;
    border: none;
    color: var(--primaryPurple);
    background-color: white;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
    font-size: 1.1rem;
}








.profilePage .detailsSection {
    margin: 50px;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profilePage .detailsSection .detailsSectionTitleContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 10px 15px;
}

.profilePage .detailsSection .detailsSectionTitleContainer .detailsSectionTitle {
    font-size: 2.2rem;
    font-weight: 600;
}

.profilePage .detailsSection .detailsSectionTitleContainer button {
    border-radius: 11px;
    border: none;
    color: #fff;
    background-color: var(--primaryPurple);
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.profilePage .detailsSection hr {
    height: 2px;
    background-color: black;
    margin-bottom: 25px;
}

.profilePage .detailsSection .detailsSectionCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}





.petCard {
    /* width: 32%; */
    color: #FFF;
    background-color: var(--primaryPurple);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform .3s ease;
}

.petCard:hover {
    transform: scale(1.05);
}

.petCard .carousel {
    position: relative;
}

.carousel__item {
    width: 300px;
    height: 240px;
    padding: 1em;
    color: #ffffff;
    display: none;
}

.carousel__item img {
    width: 100%;
    height: 100%;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.707);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgb(255, 255, 255);
}

.petCard .majorDetails {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.petCard .majorDetails .petName {
    font-size: 1.5rem;
    font-weight: 600;
}

.petCard .otherDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.petCard .buttonContainer {
    display: flex;
    gap: 25px;
}

.petCard .buttonContainer button {
    border-radius: 11px;
    border: none;
    color: #000;
    background-color: #FFF;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.petCard .buttonContainer button.delete {
    background-color: rgb(234, 53, 53);
    color: white;
}










.updateProfilePage {
    background-color: #fff0ff;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.updateProfilePage .backArrow {
    margin: 25px 50px;
    align-self: self-start;
    padding: 0px;
}

.updateProfilePage .backArrow svg {
    font-size: 1.5rem;
}

.updateProfilePage .backArrow svg:hover {
    cursor: pointer;
}

.updateProfilePage .profileUpdateForm {
    background-color: var(--primaryPurple);
    padding: 65px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.updateProfilePage .profileUpdateForm .updateFormTitle {
    align-self: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 35px;
}

.updateProfilePage .profileUpdateForm .profileUpdateInputWrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    color: white;
    gap: 10px;
    margin-bottom: 10px;
}

.updateProfilePage .profileUpdateForm .profileUpdateInputWrapper label {
    font-size: 1.3rem;
}

.updateProfilePage .profileUpdateForm .profileUpdateInputWrapper input {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.updateProfilePage .profileUpdateForm .profileUpdateSubmitButton {
    align-self: center;
    margin-top: 25px;
}

.updateProfilePage .profileUpdateForm .profileUpdateSubmitButton button {
    border-radius: 11px;
    border: none;
    color: var(--primaryPurple);
    background-color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}












.updatePetPage {
    background-color: #fff0ff;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.updatePetPage .backArrow {
    margin: 25px 50px;
    align-self: self-start;
    padding: 0px;
}

.updatePetPage .backArrow svg {
    font-size: 1.5rem;
}

.updatePetPage .backArrow svg:hover {
    cursor: pointer;
}

.updatePetPage .petProfileUpdateForm {
    background-color: var(--primaryPurple);
    padding: 65px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.updatePetPage .petProfileUpdateForm .updateFormTitle {
    align-self: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 35px;
}

.updatePetPage .petProfileUpdateForm .petProfileUpdateInputWrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    color: white;
    gap: 10px;
    margin-bottom: 10px;
}

.updatePetPage .petProfileUpdateForm .petProfileUpdateInputWrapper label {
    font-size: 1.3rem;
}

.updatePetPage .petProfileUpdateForm .petProfileUpdateInputWrapper input {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.updatePetPage .petProfileUpdateForm .petProfileUpdateSubmitButton {
    align-self: center;
    margin-top: 25px;
}

.updatePetPage .petProfileUpdateForm .petProfileUpdateSubmitButton button {
    border-radius: 11px;
    border: none;
    color: var(--primaryPurple);
    background-color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

















.addPetPage {
    background-color: #fff0ff;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.addPetPage .backArrow {
    margin: 25px 50px;
    align-self: self-start;
}

.addPetPage .backArrow svg {
    font-size: 1.5rem;
}

.addPetPage .backArrow svg:hover {
    cursor: pointer;
}

.addPetPage .addPetForm {
    background-color: var(--primaryPurple);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.addPetPage .addPetForm .addPetFormTitle {
    align-self: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 35px;
}

.addPetPage .addPetForm .addPetFormInputWrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    color: white;
    gap: 10px;
    margin-bottom: 10px;
}

.addPetPage .addPetForm .addPetFormInputWrapper label {
    font-size: 1.3rem;
}

.addPetPage .addPetForm .addPetFormInputWrapper input {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.addPetPage .addPetForm .addPetFormSubmitButtonWrapper {
    align-self: center;
    margin-top: 25px;
}

.addPetPage .addPetForm .addPetFormSubmitButtonWrapper button {
    border-radius: 11px;
    border: none;
    color: var(--primaryPurple);
    background-color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}





/*Styles for the lost pet profile cards*/
.container1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(570px, 1fr));
    /* Automatically fit 2 items in a row */
    gap: 100px;
    margin-left: 40px;
}

.lostprofiledetails {
    /* background: rgba(128, 81, 143, 0.541); */
    background: #B799D1;
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    /* Use flexbox to create a horizontal layout */
    transition: transform 1s ease;
}

.lostprofiledetails img {
    width: 50%;
    /* Set width to occupy the first half of the card */
    height: auto;
    /* Allow height to adjust proportionally */
    object-fit: cover;
}

.lostprofiledetails .details h4,
.details p {
    width: 50%;
    /* Set width to occupy the second half of the card */
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* Display details in a vertical layout */
    justify-content: center;
    /* Center details vertically */

    margin: 1px 0;

}

.lostprofiledetails .details h4 {
    font-size: 20px;
}

.lostprofiledetails .createdAt {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
}

.lostprofiledetails .btn1 {
    background-color: rgba(128, 81, 143, 0.541);
    color: white;
    padding: 12px 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 10px;
    right: 2%;
    transition: opacity 0.5s ease;
}

/*
.lostprofiledetails .btn1:hover{
    opacity:1;
}
.lostprofiledetails .btn2:hover{
    opacity:1;
}
.lostprofiledetails .btn3:hover{
    opacity:1;
} */
.lostprofiledetails .btn2 {
    background-color: rgba(128, 81, 143, 0.541);
    color: white;
    padding: 12px 24px;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 38%;
    right: 2%;
    transition: opacity 0.5s ease;
}

.lostprofiledetails .btn3 {
    background-color: rgba(128, 81, 143, 0.541);
    color: white;
    padding: 12px 24px;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: absolute;
    bottom: 10%;
    right: 2%;
    transition: opacity 0.5s ease;
}


.lostprofiledetails:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/*adoption form*/
.detailsSectionCardContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(570px, 1fr));
    gap: 100px;
    margin-left: 40px;
}

.detailsSectionCardContainer .adoption-form-preview {
    background: #B799D1;
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: transform 1s ease;
}

.detailsSectionCardContainer .adoption-form-preview img.pet-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.detailsSectionCardContainer .adoption-form-preview .details {
    width: 150px;

    padding: 3px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.detailsSectionCardContainer .adoption-form-preview .details h4 {
    font-size: 30px;
    margin-bottom: 10px;

}

.detailsSectionCardContainer .adoption-form-preview .viewbtn1 {
    background-color: rgba(128, 81, 143, 0.541);
    color: white;
    padding: 12px 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 2%;
    transition: opacity 0.5s ease;
}

.detailsSectionCardContainer .adoption-form-preview .approval-status {

    margin: 20px;
}

.detailsSectionCardContainer .adoption-form-preview:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.detailsSectionCardContainer .adoption-form-preview:hover .viewbtn1 {
    opacity: 1;
}


.request-forms {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    width: 580px;
    height: 220px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    z-index: 0;
    margin: 20px auto;
    margin-left: 40px;
    overflow: hidden;
    transition: 0.3s ease-in;
}

.request-forms::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -18px;
    background: #B799D1;
    height: 250px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.request-forms:hover::before {
    transition-delay: 0.2s;
    transform: scale(40);
}

.request-forms:hover {
    color: #fff;
    transform: scale(1.03);
}

.request-forms p {
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
}

.request-forms strong {
    font-family: "Poppins", sans-serif;
}

.request-forms span {
    font-family: "Poppins", sans-serif;
    position: absolute;
    font-size: 16px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: var(--delete);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    color: #fdfdfd;
    transition: 0.3s;
}

.request-forms span:hover {
    background: rgb(159, 1, 1)
}

.request-forms button.view-btn1 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    font-size: 16px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background: var(--update);
    text-decoration: none;
    padding: 7px;
    border-radius: 4px;
    color: #fdfdfd;
    transition: 0.3s;
    border: #FFF solid 1px;
}

.request-forms button.view-btn1:hover {
    background: #8c3fcf;
}