.doctorNavBar{
    width: 100%;
    height: 12vh;
    background-color: var(--primaryPink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.doctorNavBar .doctorNavLogo svg{
    font-size: 3rem;
}

.doctorNavBar .doctorNavTitle{
    font-size: 2rem;
    font-weight: 600;
}

.doctorNavBar .doctorProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.doctorNavBar .doctorProfile .doctorNavUsername{
    font-size: 1.1rem;
}

.doctorNavBar .doctorProfile button{
    border-radius: 11px;
    border: none;
    color: var(--primaryPurple);
    background-color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}