.landing-section {
    background-color: var(--primaryPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
}

.image-section {
    flex: 1;
}

.text-section {
    color: white;
    flex: 1;
    padding: 0 20px;
}

.heading {
    font-size: 60px;
    font-weight: bold;
}

.paraText {
    font-size: 20px;
    line-height: 1.5;
}

/* Shop items section */
.shopItems {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: center;
    gap: 40px;
    padding: 40px 5%;
}

.shopItems .card {
    width: calc(25% - 40px); /* 25% of container width minus gap */
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.shopItems .card img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.shopItems .card .desc {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.shopItems .card .title {
    font-weight: bold;
    font-size: 20px;
    color: #424144;
}

.shopItems .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.shopItems .card .price {
    color: var(--primaryPurple);
    font-size: 18px;
    font-weight: bold;
}

.shopItems .card .btn {
    font-size: 14px;
    color: var(--primaryPurple);
    padding: 8px 16px;
    font-weight: bold;
    width: 60%;
    border: 1px solid var(--primaryPurple);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shopItems .card .btn:hover {
    background-color: var(--primaryPurple);
    color: white;
}
.quantity input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 14px;
    box-sizing: border-box;
}