:root {
    --nav-bg: #B799D1;
    --nav-bg-dark: #a786c4;
}

.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: system-ui;
}

.store-body {
    width: calc(33.33% - 20px);
    /* Adjust width as needed for margins */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: var(--nav-bg);
}

.store-body.out-of-stock {
    width: calc(33.33% - 20px);
    /* Adjust width as needed for margins */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #ff0000;
}

.store-body:hover {
    transform: translateY(-5px);
    background-color: var(--nav-bg-dark);
}

.store-cards {
    padding: 20px;
}

.store-cards h4 {
    font-size: 1.5rem;
    margin-top: 0;
}

.store-cards p {
    margin: 8px 0;
    font-size: 1.25rem;
    /* Reduce font size for smaller text */
}

.store-cards img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.store-cards p:last-child {
    margin-bottom: 0;
}

.buy-btn {

    border: 0;
    background-color: var(--nav-bg-dark);
    color: #fff;
    width: 30%;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



/* Media Query for responsiveness */
@media (max-width: 768px) {
    .store-body {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .store-body {
        width: calc(100% - 20px);
    }
}