.landing-section {
    background-color: var(--primaryPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
}

.image-section {
    flex: 1;
}

.text-section {
    color: white;
    flex: 1;
    padding: 0 20px;
}

.heading {
    font-size: 60px;
    font-weight: bold;
}

.paraText {
    font-size: 20px;
    line-height: 1.5;
}

.shopItems{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 75px;
    padding: 40px 5%;
}

.shopItems .card {
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}


.shopItems .card img{
    height: 100%;
    width: 100%;
}

.shopItems .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.shopItems .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.shopItems .card .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.shopItems .card .box .price{
    color: var(--primaryPurple);
    font-size: 20px;
    font-weight: bold;
}

.shopItems .card .box .btn{
    font-size: 13px;
    color: var(--primaryPurple);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid var(--primaryPurple);
    border-radius: 20px;
}

.shopItems .card .box .btn:hover{
    background-color: var(--primaryPurple);
    color: white;
    padding: 10px 18px;
    font-weight: 900;
    border-radius: 20px;
}
