.mr-content{
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.mr-content .pagination{
  display: flex;
  justify-content: flex-end;
}

.mrHeader{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mrHeader p{
  font-size: 2rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mr-content hr{
  margin-bottom: 35px;
}

/* Styles for the employee table */
.mr-table{
    width: 1140px;
    align-content: center;
    margin-top: 30px;
    background-color: #f3f3f3;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
  
/* Hover styles for the employee table */
.mr-table:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

.mr-content .mrHeader div{
  align-self: flex-end;
  display: flex;
  gap: 25px;
  align-items: flex-end;
  justify-content: center;
}

.mr-content .mrHeader div button{
  border-radius: 11px;
  border: none;
  color: #FFF;
  background-color: #9453ce;
  font-weight: 600;
  padding: 10px 25px;
  transition: 0.3s;
}

.mr-content .mrHeader div input{
  /* border-radius: 15px; */
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.3);
  /* color: #FFF; */
  /* background-color: var(--primaryPurple); */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 6px 15px;
  transition: 0.3s;
}

.mr-content .mrHeader div input:hover{
  border-bottom: 2px solid rgba(0,0,0,.8);
}

/* Common styles for the tables */
.mr-table-style{
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333; color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
  }

  .mr-table-style thead{
    height: 70px;
  }
  
  /* Styles for the table header */
  .mr-table-style thead tr th { 
    font-weight: 600; 
  }
  
  /* Styles for table header and table data */
  .mr-table-style thead th, .mr-table-style tbody td { 
    padding: 10px; 
    font-size: 16px;
  }
  
  .mr-table-style tbody td { 
    padding: .7rem; 
    font-size: 16px;
    color: #444; 
    background: #eee;
    transition: 0.3s;
  }
  
  /* Styles for alternating rows in the table body - w3school */
  .mr-table-style tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
  }
  
  /* Styles for the view button */
  .mr-table-style tbody td center .table-view-btn{
    width: 80px;
    height:30px;
    background-color: #9453ce;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #FFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Hover styles for the view button */
  .mr-table-style tbody td center .table-view-btn:hover{
    background-color: #8737ce;
  }
  
  /* responsive table - w3school*/
  @media screen and (max-width: 600px) {
    .mr-table-style caption { background-image: none; }
    .mr-table-style thead { display: none; }
    .mr-table-style tbody td { 
      display: block; 
      padding: .6rem; 
    }
    .mr-table-style tbody tr td:first-child { 
      background: #666; 
      color: #fff; 
    }
    .mr-table-style tbody td:before { 
      content: attr(data-th); 
      font-weight: bold;
      display: inline-block;
      width: 6rem;  
    }
  }







  /* Popup Styles */
  .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
  }

  .popup-inner{
    position: relative;
    padding: 30px;
    width: 100%;
    border-radius: 15px;
    max-width: 640px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: #FFF;
    transition: 0.3s;
  }

  .popup-inner:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
  }

  .popup-inner .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    align-self: self-start;
    transform: scale(1.8);
    cursor: pointer;
  }

  body.active-popup{
    overflow-y: hidden;
  }

  .mr-popup-details{
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    height: 420px;
    padding: 20px;
    position: relative;
    transition: 0.3s;
  }
  
  .mr-popup-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }

  .mr-popup-details .desc{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }

  .mr-popup-details .desc:hover::before {
    content: attr(data-fulltext);
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
   
  }