.homeHero{
    min-height: 130vh;
    background: url(./Images/background1.png) no-repeat, #E2929D;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.homeHero .homeHeroHeading{
    margin-top: 75px;
    font-family: 'Good Pawoo', sans-serif;
    font-size: 15rem;
    color: #fff;
}

.homeWhoAreWe{
    background: #E2929D;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
}

.homeWhoAreWe .homeWhoAreWeText{
    width: 35%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.homeWhoAreWeTextBody{
    font-family: 'Calibri';
    font-size: 20px;
}

.homeWhoAreWe .homeWhoAreWeText .homeWhoAreWeTextHeading{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeWhoAreWe .homeWhoAreWeText .homeWhoAreWeTextButton button{
    border-radius: 11px;
    border: none;
    color: #fff;
    background-color: #E2929D;
    padding: 10px 25px;
    transition: 0.3s;
}


.homeOurServices{
    background: #B799D1;
    padding: 200px 0;
    color: white;
    display: flex;
    font-size: 20px;
    font-family: 'Calibri';
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeOurServices .homeOurServicesHeading{
    /* margin-top: 50px; */
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.homeOurServices .homeOurServicesContainer{
    width: 90%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
    align-items: stretch;
    justify-items: center;
}

.homeOurServices .homeOurServicesContainer hr{
    align-self: center;
    height: 150px;
    width: 3px;
    background: white;
}

.homeOurServices .homeOurServicesContainer .homeOurServicesElement{
    display: grid;
    align-content: stretch;
    justify-items: center;
    gap: 20px;
}


.homeOurServices .homeOurServicesContainer .homeOurServicesElement .homeOurServicesElementTextHeading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.homeOurServices .homeOurServicesContainer .homeOurServicesElement .homeOurServicesElementTextBody{
    text-align: center;
}

.homeOurServices .homeOurServicesContainer .homeOurServicesElement .homeOurServicesElementSeeMore{
    align-self: self-end;
}

.homeOurServices .homeOurServicesContainer .homeOurServicesElement .homeOurServicesElementSeeMore button{
    border-radius: 10px;
    border: none;
    background-color: #B799D1;
    color: #fff;
    padding: 10px 25px;
    transition: 0.3s;
}

#bookAppointments{
    scroll-margin-top: 6rem;
}

.homeBookAppointments{
    background: #E2929D;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px 100px;
    margin-bottom: 500px;
}

.homeBookAppointments .homeBookAppointmentsHeading{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeBookAppointments .homeBookAppointmentsText{
    width: 75%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeBookAppointments .homeBookAppointmentsForm{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 25px;
    align-content: stretch;
}
.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormInputWrapper input,
.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormInputWrapper textarea, .homeBookAppointmentsFormInputWrapper select{
    padding: 10px 8px;
    width: 100%;
}

.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormInputWrapper:nth-child(9){
    grid-column: 1/4;
}

.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormButton{
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormButton button{
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 15px 25px;
    transition: 0.3s;
}

.homeBookAppointments .homeBookAppointmentsForm .homeBookAppointmentsFormButton button:hover{
    background-color:#b6757e;
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}