
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/grinched-2');
@import url('https://fonts.cdnfonts.com/css/good-pawoo');
@import url('https://fonts.cdnfonts.com/css/grinched-2');
@import url(https://db.onlinewebfonts.com/c/fe33a56dba677d78ff3d4cc5bdcbc286?family=Grinched2.0);
@import url('https://fonts.cdnfonts.com/css/good-pawoo'); 
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root{
  --primaryColor: #123456;
  --primaryPink: #E78F9B;
  --primaryPurple: #B799D1;
  --secondartColor: #123456;
  --accentColor: #123456;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Calibri';
}

a{
  text-decoration: none;
}

div.error {
  background-color: #ffdada;
  padding: 10px;
  margin-bottom: 20px;
  border-left: 5px solid #ff0000;
  color: #d8000c;
  border-radius: 4px;
}

button{
  /* background-color: rgba(0, 0, 0, 0.203); */
  /* font-size: 20px; */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

button:active{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.disabled{
  background-color: rgba(0, 0, 0, 0.107);
  cursor:not-allowed;
  box-shadow: none;
}

input:focus{
  outline: none;
}