.allPetOwnerPage{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.allPetOwnerPage .allPetOwnerHeader{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.allPetOwnerPage .allPetOwnerHeader p{
    font-size: 2rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.allPetOwnerPage .allPetOwnerHeader button{
    border-radius: 11px;
    border: none;
    color: #FFF;
    background-color: var(--primaryPurple);
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.allPetOwnerPage hr{
    margin-bottom: 35px;
}

.allPetOwnerPage .allPetOwnerCardContainer{
    display: flex;
    justify-content: center;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable{
    border: none;
    border-collapse: collapse;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableHeading{
    background-color: black;
    color: white;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableHeading th{
    padding: 15px 80px;
    font-size: 1.3rem;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableRow{
    background-color: #ececec;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableRow td{
    padding: 0px 80px;
    border-bottom: 2px solid black;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableRow td:nth-child(2){
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableRow td .buttonContainer{
    align-self: end;
    margin: 15px 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.allPetOwnerPage .allPetOwnerCardContainer .allPetOwnerTable .allPetOwnerTableRow td .buttonContainer button{
    border-radius: 11px;
    border: none;
    color: #FFF;
    background-color: var(--primaryPurple);
    font-weight: 600;
    padding: 5px 15px;
    transition: 0.3s;
}