.allPetOwnerPage{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.allPetOwnerPage .allPetOwnerHeader{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.allPetOwnerPage .allPetOwnerHeader p{
    font-size: 2rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.allPetOwnerPage .allPetOwnerHeader div{
    align-self: flex-end;
    display: flex;
    gap: 25px;
    align-items: flex-end;
    justify-content: center;
}

.allPetOwnerPage .allPetOwnerHeader div button{
    border-radius: 11px;
    border: none;
    color: #FFF;
    background-color: var(--primaryPurple);
    font-weight: 600;
    padding: 10px 25px;
    transition: 0.3s;
}

.allPetOwnerPage .allPetOwnerHeader div input{
    /* border-radius: 15px; */
    border: none;
    border-bottom: 2px solid black;
    /* color: #FFF; */
    /* background-color: var(--primaryPurple); */
    font-weight: 600;
    padding: 6px 15px;
    transition: 0.3s;
}

.allPetOwnerPage hr{
    margin-bottom: 35px;
}

.allPetOwnerPage .allPetOwnerCardContainer{
    display: flex;
    justify-content: center;
}










.allPetOwnerTable{
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333; color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
  }
  
  /* Styles for the table header */
  .allPetOwnerTable thead tr th { 
    font-weight: 600; 
  }
  
  /* Styles for table header and table data */
  .allPetOwnerTable thead th, .allPetOwnerTable tbody td { 
    padding: 10px 100px; 
    font-size: 16px;
  }
  
  
  .allPetOwnerTable tbody td { 
    font-size: 16px;
    color: #444; 
    background: #eee;
    transition: 0.3s;
  }
  
  /* Styles for alternating rows in the table body - w3school */
  .allPetOwnerTable tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
  }
  
  /* Styles for the view button */
  .table-view-btn{
    width: 80px;
    height:30px;
    background-color: #9453ce;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #FFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Hover styles for the view button */
  .table-view-btn:hover{
    background-color: #8737ce;
  }
