.custom-table {
    width: 1000px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #f3f3f3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    transition: 0.3s;
}

.custom-table:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}


.custom-table-header {
    font-weight: 600;
    text-align: center;
    background-color: #55608f;
    color: #fff;
}


.custom-table tr {
    background-color: #e2929d;
}

.custom-table tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.custom-table td {
    padding: .7rem;
    font-size: 16px;
    color: #444;
    background: #eee;
    transition: 0.3s;
}

.custom-table td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.custom-table .view-details-btn {
    width: fit-content;
    height: 30px;
    background-color: #9453ce;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-table .view-details-btn:hover {
    background-color: #8737ce;
    color: #8737ce;
}

.custom-table .listing-delete-btn {
    margin-left: 10px;
}

.custom-table .listing-delete-btn,
.view-details-btn {
    margin-left: 30px;
}

/*adoption listing*/
.adoption-listings-admin {

    padding: 20px;
    margin-bottom: 20px;
    color: #000000;
    position: relative;
}

.adoption-listings-admin p {
    margin: 5px 0;
    color: #000000;
}




.adoption-listings-admin .image-container {
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Vertically center the image */
}

.adoption-listings-admin button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.adoption-listings-admin button:hover {
    background-color: #45a049;
}

.adoption-listings-admin img {
    width: 300px;
    height: 300px;

    position: absolute;



    right: 40%;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}

/*Search bar*/

.search-input {
    /* border-radius: 15px; */
    border: none;
    border-bottom: 2px solid black;
    /* color: #FFF; */
    /* background-color: var(--primaryPurple); */
    font-weight: 600;

    transition: 0.3s;
    margin-left: 870px;
    margin-top: 20px;
}